/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.env.testing
/storage/logs
*.log
/bootstrap/cache/*.php
/bootstrap/cache/*.json
composer.lock
package-lock.json
yarn.lock
/.idea
/.vscode
.DS_Store
Thumbs.db
/phpunit.xml
/public/hot
/public/mix-manifest.json
